@font-face {
    font-family: 'Linearicons-Free';
    src: url('../fonts/Linearicons-Free.eot?w118d');
    src: url('../fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
        url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
        url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
        url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),
        url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
    font-weight: normal;
    font-style: normal;
}

.w .main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;

}

.w .main .focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    background-color: aqua;
    overflow: hidden;
}

.w .main .focus .ul1 {
    position: relative;
    left: -0%;
    width: 10000%;
    /* margin-left: -100%; */
}

.w .main .focus .ul1 li {
    float: left;
}

.arrow_l {
    font-family: 'Linearicons-Free';
    color: black;
    font-size: 45px;
    position: absolute;
    left: 0;
    top: 210px;
    width: 40px;
    height: 65px;
    line-height: 65px;
    background-color: rgb(7, 7, 7, .1);
    border-radius: 0 20px 20px 0;
    z-index: 1;
}

.arrow_r {
    position: absolute;
    font-family: 'Linearicons-Free';
    color: black;
    font-size: 45px;
    right: 0;
    top: 210px;
    width: 40px;
    height: 65px;
    line-height: 65px;
    background-color: rgb(7, 7, 7, .1);
    border-radius: 20px 0px 0px 20px;
    z-index: 1;
}

.arrow_l:hover {
    color: red;
}

.arrow_r:hover {
    color: red;
}

.w .main .focus .ul2 {
    position: absolute;
    width: 215px;
    height: 30px;
    bottom: 0;
    left: 265px;
    padding: 5px 10px;
    z-index: 2;
}

.w .main .focus .ul2 li {
    float: left;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    margin-right: 15px;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
    z-index: 3;
}

.w .main .Newsflash {
    position: relative;
    float: right;
    width: 250px;
    height: 100%;
    /* background-color: blue; */
}

.w .main .Newsflash .news {
    width: 100%;
    height: 163px;
    padding: 0 20px;
    border: 1px solid rgb(3, 3, 3, .1);
}

.w .main .Newsflash .news div {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted rgb(3, 3, 3, .1);
}

.w .main .Newsflash .news div p {
    float: left;
    font-size: 13px;
    font-weight: 800;
}

.w .main .Newsflash .news div a {
    float: right;
}

.w .main .Newsflash .news ul li {
    float: left;
    width: 100%;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w .main .Newsflash .news ul li i {
    color: rgb(0, 0, 0, .8);
    font-weight: 500;
}

.w .main .Newsflash .news ul li :hover i {
    color: red;
}

.w .main .Newsflash .lifeservice li {
    position: relative;
}

.w .main .Newsflash .lifeservice li {
    position: relative;
    width: 63px;
    height: 70px;
    text-align: center;
    /* text-decoration: dashed; */
    float: left;
    left: 1px;
    padding-top: 45px;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid rgb(3, 3, 3, .1);
}

.main .Newsflash .lifeservice li::before {
    position: absolute;
    display: block;
    content: '';
    top: 16px;
    left: 18px;
    width: 25px;
    height: 25px;
    background-color: aqua;
    background: url(../image/icons.png) no-repeat;
    background-position: -16px -15px;
}

.w .main .Newsflash .lifeservice ul li:nth-child(2)::before {
    background-position: -16px -87px;
}

.w .main .Newsflash .bargain {
    position: absolute;
    bottom: 0;
}

.w .main .Newsflash .bargain img {
    border: 0;
    vertical-align: middle;
}

.recom {
    margin-top: 10px;
    height: 163px;
}

.recom_hd {
    position: relative;
    float: left;
    width: 200px;
    height: 163px;
    padding-top: 36px;
    padding-left: 50px;
    background-color: rgb(176, 51, 164);
}

.recom_bd ul li {
    position: relative;
    float: left;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20); */
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    /* display: inline-block; */
    position: absolute;
    width: 1px;
    height: 145px;
    top: 9px;
    background-color: rgb(77, 77, 76, .5);
    /* z-index: 3; */
}

.recom_bd ul li:hover {
    position: relative;
    top: 5px;
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, .6);
}

.likes {
    position: relative;
    height: 270px;
    margin-top: 20px;
}

.likes_hd {
    height: 40px;
    line-height: 40px;
}

.likes_hd h5 {
    float: left;
    font-size: 18px;
    font-weight: 400;
}

.likes_hd a {
    float: right;
    font-family: 'Linearicons-Free';
    margin-right: 16px;
}

.likes_bd {
    height: 232px;
}

.likes_bd li {
    position: relative;
    float: left;
    width: 200px;
    height: 230px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    text-align: center;
}

.likes_bd li:nth-child(1) {
    border-left: 1px solid #ddd;
}

.likes_bd li:nth-child(6) {
    border-right: 1px solid #ddd;
}

.likes_bd ul li .into {
    position: absolute;
    width: 200px;
    height: 60px;
    bottom: 10px;
    /* margin-bottom: 20px; */
}

.likes_bd h5 {
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

.likes_bd .into div {
    font-size: 18px;
    color: #df3003;
    font-weight: 600;
}

.likes_bd ul li:hover {
    position: relative;
    top: 5px;
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, .6);
}

.content-block {
    height: 400px;
}

.content-block .floor_hd {
    height: 40px;
    line-height: 40px;
    margin-top: 60px;
    border-bottom: 2px solid #c81623;
}

.content-block .floor_hd h5 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #df3003;
}

.content-block .floor_hd ul {
    float: right;
    margin-right: 12px;
}

.content-block .floor_hd ul li {
    float: left;
    font-size: 12px;
    color: #666;
}

.content-block .floor_hd ul li:nth-child(2n) {
    padding: 0 13px;
}

.content-block .floor_hd ul li:nth-child(2n+1):hover {
    color: #c81623;
    cursor: pointer;
}

.content-block .floor_bd .tab_list_item {
    position: relative;
    float: left;
    height: 360px;

}

.tab_list_item_a {
    display: block;
    width: 210px;
    height: 255px;
    overflow: hidden;
}

.tab_list_item_aimg {
    transition: all .1s;
}

.tab_list_item_a:hover .tab_list_item_aimg {
    transform: scale(1.1);
}

.content-block .floor_bd {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.content-block .floor_bd .tab_content {
    position: absolute;
    width: 500%;
    left: 0;
}


.content-block .floor_bd .tab_list_item div {
    float: left;
    height: 360px;
    text-align: center;
}

.content-block .floor_bd .tab_list_item div:nth-child(1) ul li {
    float: left;
    width: 88px;
    height: 35px;
    line-height: 35px;
    margin-left: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.content-block .floor_bd .tab_list_item div img {
    width: 100%;
    /* height: 100%; */
}

.content-block .floor_bd .tab_list_item>div:nth-child(1) {
    width: 210px;
}

.content-block .floor_bd .tab_list_item>div:nth-child(2) {
    width: 330px;
}

.content-block .floor_bd .tab_list_item>div:nth-child(3) {
    width: 220px;
}

.content-block .floor_bd .tab_list_item>div:nth-child(3) a:nth-child(1) img {
    border-bottom: 1px solid #bbb;
}

.content-block .floor_bd .tab_list_item>div:nth-child(5) a:nth-child(1) img {
    border-bottom: 1px solid #bbb;
}

.content-block .floor_bd .tab_list_item>div:nth-child(4) {
    width: 220px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.content-block .floor_bd .tab_list_item>div:nth-child(5) {
    width: 218px;
}

.fix {
    position: fixed;
    left: 180px;
    top: 250px;

}

.fix ul li {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: #ede8e8;
    border-bottom: 1px solid #666;
}

.fix .red {
    background-color: #c81623;
}

.fix .white {
    color: white;
}

.fix ul li:hover {
    color: #c81623;
    cursor: pointer;
}