/* .w .main{
    display: block;
    position: relative;
    float: left;
    height: 465px;
    margin-left: 215px;
    background-color: pink;
} */
/* .w .main .focus{
    width: 720px;
    background-color: rgb(11, 211, 131);
} */